
<app-sidebar [orgname]="orgname" [email]="userEmail"></app-sidebar>
<app-header [orgname]="orgname" [email]="userEmail"></app-header>
<div class="page-wrapper">
    <div class="main-container">
      <div class="welcome-message">
        Hi, welcome to team chat!
      </div>
      <div class="inner-container">
        <div class="channel-container" *ngIf="users.length > 0">
          <h2> Users</h2>
          <ul>
            <li *ngFor="let user of users">
              <button class="btn-link styled-button" (click)="gotoUser(user)">
                {{user}}
              </button>
            </li>
          </ul>
        </div>
        <div *ngIf="users.length === 0">
          <p>No users available.</p>
        </div>
      </div>
    </div>
  </div>
  