


<app-sidebar [orgname]="orgname" [email]="email"></app-sidebar>
<!-- <app-header [orgname]="orgname" [email]="email"></app-header> -->
<div class="main-content">
    <section class="about"  id="about">
        <div class="container">
          
          <div class="about">
            <img src="/assets/image/TC1.jpg" class="responsive-image">
            <h3>Seamless Communication for Teams</h3>
            <p>TeamChat is the ultimate platform for team collaboration and communication. Whether you're working on a project, organizing events, or just staying connected, TeamChat has got you covered.</p>
           <br>
           
           <br>
           <br>
            <h3> Why Choose TeamChat?</h3>
           <p>. User-Friendly Interface: Designed with simplicity and efficiency in mind.
            Scalable: Whether you're a small team or a large organization, TeamChat scales with your needs.
            Reliable: Built with robust technology to ensure seamless and uninterrupted communication.</p>
          </div>
         
        </div>
      </section>
</div>
